<div class="container-fluid">
  <div class="d-flex justify-content-center">
      <%= image_tag "FAT-Logo-Web.jpg", class:"rounded mx-auto img-fluid mb-3" %>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col sm-1">
        <p class="h4 display-5">
          Farm AgriTech Computers and Farm IT Services
        </p>
        <p class="h3">Click Here to View Products</p>
        <a class="h5"><%= link_to "Market Listings", listings_path, class: "button-box btn btn-info ms-2" %></a>
        <p class="h4 display-5">
          Farm AgriTech Bitcoin Services
        </p>
        <p class="h5">Full Bitcoin node installation</p>
        <p class="h5">Ligntning node installation</p>
        <p class="h5">Lightning payment channel creation and liquidity management</p>
        <p class="h5">Onsite and remote assistance</p>
        <p class="h4">Please click here to help fund Farm AgriTech</p>
        <a><%= link_to "FAT Funding", src="https://fatrg1.eastus.cloudapp.azure.com/apps/dMDGNWUwnjueN7cuR6NKfJkBcrE/crowdfund", class: "button-box btn btn-info ms-2" %></a>
        <p class="display-5">Click Here to Learn More</p>
        <a><%= link_to pages_fatlsp_path do %><%= image_tag "pngimg.com - bitcoin_PNG8.png", class: "rounded img-fluid pne-box px-3" %><% end %></a>      
      </div>
    </div>
    <div class="row">
      <p class="h4">If you are interested in using PlantForm to manage your market garden please view the PlantForm introduction video here: 
        <%= link_to "PlantForm Introduction", "https://youtu.be/Lrv7PZ--SaU" %>
      </p>
    </div>
    <p class="strong">The app used to be called Plantform, so do not be confused by the graphics in the video. All functionality remains the same.</p>
  </div>
</div>
