<div class="container">
  <div class="row">  
    <div class="col">
    <p class="h4"><small class="text-muted"><%= @time.to_formatted_s(:long) %></small></p>
    </div>
  </div>
  <div class="col">
    <div class="row justify-content-center form-box">
      <span class="border border-white">
        <p class="h1">Plant and Market Your Cube</p>
        <%= form_with model: @cube, url: soilcube_path(@cube), method: "patch", local: true do |f| %>
          <%= f.label :crop_name, "Crop Name", class:"lead mb-2" %>
          <p><%= f.text_field :crop_name %></p>
          <%= f.label :seedcount, "Number to plant in this cube", class:"lead mb-2" %>
          <p><%= f.number_field :seedcount %></p>
          <%= f.hidden_field :sow_time, :value => @time %>
          <%= f.submit "Plant" %>
          <%= link_to "Back", garden_path(@garden), class: 'btn btn-link' %>
          <%= link_to "To Market", new_listing_path(:cube => @cube), class: 'btn btn-primary' %>          
        <% end %>
      </span>
    </div>
  </div>
      <%= render partial: "gardens/pi" %>
</div>