<head>
  <!-- Event snippet for Begin checkout conversion page -->
  <script>
    gtag('event', 'conversion', {'send_to': 'AW-16826653579/eDH3CPel6owaEIu3ydc-'});
  </script>
</head>
<div class="container-fluid">
  <div class="container-md text-center work-box gardens-head">
    <p class="display-4 id="top"">AgriTech and Market Garden Products</p>
  </div>
  <div class="row">
    <div class="col">
      <h4><small class="text-muted"><%= @time.to_formatted_s(:long) %></small></h4>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-dark bg-dark px-3 mb-3">
        <a class="navbar-brand" href="#">Sort: </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <% if @fat.count > 0 %>
              <a class="nav-link" href="#agritech">AgriTech</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @tool.count > 0 %>
              <a class="nav-link" href="#tool">Tools</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @supply.count > 0 %>
              <a class="nav-link" href="#supply">Supplies</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @veg.count > 0 %>
              <a class="nav-link" href="#veg">Vegetables</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @fruit.count > 0 %>
              <a class="nav-link" href="#fruit">Fruits</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @herb.count > 0 %>
              <a class="nav-link" href="#herb">Herbs</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @flow.count > 0 %>
              <a class="nav-link" href="#flow">Flowers</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @houseplant.count > 0 %>
              <a class="nav-link" href="#hp">House Plants</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @outdoorplant.count > 0 %>
              <a class="nav-link" href="#op">Outdoor Plants</a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @tree.count > 0 %>
              <a class="nav-link" href="#tree">Trees</a>
            <% end %>
          </li>
        </ul>
      </nav>
    <div class="row">
        <h4 id="agritech"></h4>
        <% if @fat.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Farm AgriTech Products</p>
          </div>
          <div class="row">
            <% @fat.each do |fat| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag fat.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= fat.name %><br /></h5>
                    <p class="card-text">
                    <%= fat.description %><br />
                    <%= fat.product_type %><br />
                    <% @owner = User.find_by_id(fat.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= fat.city %>, <%= fat.state %></p>
                    <p>Available units: <%= fat.maxorder %></p>
                    <p><%= number_to_currency(fat.price) %> + tax and delivery if greater than 100 miles<p>
                    <p><%= fat.price_in_btc %> Sats<p>
                    <%= link_to 'Show', fat, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="tool"></h4>
        <% if @tool.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Tools</p>
          </div>
          <div class="row">
            <% @tool.each do |tool| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag tool.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= tool.name %><br /></h5>
                    <p class="card-text">
                    <%= tool.description %><br />
                    <%= tool.product_type %><br />
                    <p>For Sale: <%= tool.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(tool.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= tool.city %>, <%= tool.state %></p>
                    <p>Available orders: <%= tool.maxorder %></p>
                    <p><%= number_to_currency(tool.price) %><p>
                    <p><%= tool.price_in_btc %> Sats<p>
                    <%= link_to 'Show', tool, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="supply"></h4>
        <% if @supply.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Supplies</p>
          </div>
          <div class="row">
            <% @supply.each do |supply| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag supply.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= supply.name %><br /></h5>
                    <p class="card-text">
                    <%= supply.description %><br />
                    <%= supply.product_type %><br />
                    <p>For Sale: <%= supply.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(supply.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= supply.city %>, <%= supply.state %></p>
                    <p>Available orders: <%= supply.maxorder %></p>
                    <p><%= number_to_currency(supply.price) %><p>
                    <p><%= supply.price_in_btc %> Sats<p>
                    <%= link_to 'Show', supply, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="veg"></h4>
        <% if @veg.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Farm Vegetable Products</p>
          </div>
          <div class="row">
            <% @veg.each do |veg| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag veg.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= veg.name %><br /></h5>
                    <p class="card-text">
                    <%= veg.description %><br />
                    <%= veg.product_type %><br />
                    <p>For Sale: <%= veg.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(veg.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= veg.city %>, <%= veg.state %></p>
                    <p>Available orders: <%= veg.maxorder %></p>
                    <p><%= number_to_currency(veg.price) %></p>
                    <p><%= veg.price_in_btc %> Sats<p>
                    <%= link_to 'Show', veg, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="fruit"></h4>
        <% if @fruit.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Farm Fruit Products</p>
          </div>
          <div class="row">
            <% @fruit.each do |fruit| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag fruit.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= fruit.name %><br /></h5>
                    <p class="card-text">
                    <%= fruit.description %><br />
                    <%= fruit.product_type %><br />
                    <p>For Sale: <%= fruit.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(fruit.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= fruit.city %>, <%= fruit.state %></p>
                    <p>Available orders: <%= fruit.maxorder %></p>
                    <p><%= number_to_currency(fruit.price) %><p>
                    <p><%= fruit.price_in_btc %> Sats<p>
                    <%= link_to 'Show', fruit, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="herb"></h4>
        <% if @herb.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Herb Products</p>
          </div>
          <div class="row">
            <% @herb.each do |herb| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag herb.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= herb.name %><br /></h5>
                    <p class="card-text">
                    <%= herb.description %><br />
                    <%= herb.product_type %><br />
                    <p>For Sale: <%= herb.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(herb.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= herb.city %>, <%= herb.state %></p>
                    <p>Available orders: <%= herb.maxorder %></p>
                    <p><%= number_to_currency(herb.price) %><p>
                    <p><%= herb.price_in_btc %> Sats<p>
                    <%= link_to 'Show', herb, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="flow"></h4>
        <% if @flow.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Flower Products</p>
          </div>
          <div class="row">
            <% @flow.each do |flow| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag flow.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= flow.name %><br /></h5>
                    <p class="card-text">
                    <%= flow.description %><br />
                    <%= flow.product_type %><br />
                    <p>For Sale: <%= flow.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(flow.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= flow.city %>, <%= flow.state %></p>
                    <p>Available orders: <%= flow.maxorder %></p>
                    <p><%= number_to_currency(flow.price) %><p>
                    <p><%= flow.price_in_btc %> Sats<p>
                    <%= link_to 'Show', flow, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="hp"></h4>
        <% if @houseplant.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">House Plant Products</p>
          </div>
          <div>
            <% @houseplant.each do |houseplant| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag houseplant.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= houseplant.name %><br /></h5>
                    <p class="card-text">
                    <%= houseplant.description %><br />
                    <%= houseplant.product_type %><br />
                    <p>For Sale: <%= houseplant.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(houseplant.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= houseplant.city %>, <%= houseplant.state %></p>
                    <p>Available orders: <%= houseplant.maxorder %></p>
                    <p><%= number_to_currency(houseplant.price) %><p>
                    <p><%= houseplant.price_in_btc %> Sats<p>
                    <%= link_to 'Show', houseplant, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="op"></h4>
        <% if @outdoorplant.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Outdoor Plant Products</p>
          </div>
          <div>
            <% @outdoorplant.each do |outdoorplant| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                <%= image_tag outdoorplant.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= outdoorplant.name %><br /></h5>
                    <p class="card-text">
                    <%= outdoorplant.description %><br />
                    <%= outdoorplant.product_type %><br />
                    <p>For Sale: <%= outdoorplant.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(outdoorplant.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= outdoorplant.city %>, <%= outdoorplant.state %></p>
                    <p>Available orders: <%= outdoorplant.maxorder %></p>
                    <p><%= number_to_currency(outdoorplant.price) %><p>
                    <p><%= outdoorplant.price_in_btc %> Sats<p>
                    <%= link_to 'Show', outdoorplant, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>

        <h4 id="tree"></h4>
        <% if @tree.count > 0 %>
          <div class="row">
            <p class="h2 mx-auto px-3 work-box">Tree Products</p>
          </div>
          <div>
            <% @tree.each do |tree| %>
              <div class="col-md-3">
                <div class="card" style: "width: 18rem;">
                  <%= image_tag tree.picture.url, class:"card-img-top" %><br />
                  <div class="card-body">
                    <h5 class="card-title"><%= tree.name %><br /></h5>
                    <p class="card-text">
                    <%= tree.description %><br />
                    <%= tree.product_type %><br />
                    <p>For Sale: <%= tree.market_date.strftime("%B %-d, %Y") %><br /></p>
                    <% @owner = User.find_by_id(tree.user_id) %>
                    <p class="h5">Sold by <%= @owner.first_name %> <%= @owner.last_name %></p>            
                    <p>Sold in <%= tree.city %>, <%= tree.state %></p>
                    <p>Available orders: <%= tree.maxorder %></p>
                    <p><%= number_to_currency(tree.price) %><p>
                    <p><%= tree.price_in_btc %> Sats<p>
                    <%= link_to 'Show', tree, class: "btn btn-link" %><br />
                  </div>
                </div>
              </div>
            <% end %>
        <a href="#top">Top</a>
          </div>
        <% end %>
  </div>
</div>