<p class="h1">New Listing for admin <%= @admin %></p>
<% if @admin %>
  <%= render 'agritechform' %>
<% elsif gardener? %>
  <%= render 'newform' %>
<% else %>
  <%= render 'gardens/new' %>
<% end %>

<%= link_to 'Back', listings_path, class: "btn btn-link" %>
