<div class="container">
  <% if @fat == 'FAT PC' %>
    <div class="col">
    <div class="row listing-box mx-auto p-2">
      <div class="card mx-auto p-2">
        <%= image_tag @listing.picture.url, class:"card-img-top pic-box" %>
      </div>
      <div class="col">
        <p class="h3">
        <%= @listing.name %>
        </p>
        <ul class="list-group mt-n1 ms-n1">
          <li class="list-group-item mt-n1 ms-n1">
            <p>
            <%= @listing.description %>
            </p>
          </li>
          <li class="list-group-item mt-n1 ms-n1">
            <p>
            <%= @listing.product_type %>
            </p>
          </li>
          <li class="list-group-item mt-n1 ms-n1">
            <p>
            <%= "Sold by #{@lister.first_name} #{@lister.last_name}" %></p>
            </p>
          </li>
          <li class="list-group-item mt-n1 ms-n1">
            <p>Sold in <%= @listing.city %>, <%= @listing.state %></p>
          </li>
          <li class="list-group-item mt-n1 ms-n1">
            <p>
            Base Price: <%= number_to_currency(@listing.price) %>
            </p>
            <p>
            <%= @listing.price_in_btc %> Sats
            </p>
          </li>
          <li class="list-group-item mt-n1 ms-n1">
            <p>
            FAT Support Cost 1 Year: <%= number_to_currency(@listing.fatsupportcost1yr) %>
            </p>
            <p>
            <%= @listing.sup_in_btc %> Sats
            </p>
          </li>
          <li class="list-group-item mt-n1 ms-n1">
            <p>
            FAT Support Cost Monthly: <%= number_to_currency(@listing.fatsupportcost1yr / 12) %>
            </p>
            <p>
            <%= @listing.month_sup_in_btc %> Sats
            </p>
          </li>
          <li class="list-group-item mt-n1 ms-n1">
            <p class="h5">
            Required Microsoft Licenses
            </p>
            <p>
            Enterprise Mobility + Security E3
            </p>
            <p>Monthly: $10.60</p>
            <p>
            Microsoft Defender for Endpoint P1
            </p>
            <p>Monthly: $3.00</p>
            <p class="h5">
            Optional Microsoft License
            </p>
            <p>
            Microsoft 365 Business Standard
            </p>
            <p>Monthly: $12.50</p>
          </li>
        </ul>        
      </div>
      <div class="col">
        <% if @admin %>
          <p class="h3">Unit ID: <%= @listing.unitid %></p>
        <% end %>
        <p class="h3">
          Specifications
          <ul class="list-group mt-n1 ms-n1">
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              Warranty Length: <%= @listing.warranty_length %> Year
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              CPU: <%= @listing.cpu %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              Core Count: <%= @listing.core_count %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              RAM: <%= @listing.ram %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              Memory Type: <%= @listing.memory_type %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              HD Capacity: <%= @listing.hdgigs %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              HD Type: <%= @listing.hdtype %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              Optical Drive: <%= @listing.opticaldrive %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              Graphical Processor: <%= @listing.video %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              Video Interface: <%= @listing.videoint %>
              </p>
            </li>
          </ul>
          </p>
        <div id="map"></div>
        <%= link_to "Order", new_listing_order_path(@listing), class: "btn btn-primary" %>
        <% if (user_signed_in?) && (current_user.id == @listing.user_id) %>
          <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> | 
        <% end %>
        <%= link_to 'Back', listings_path, class: "btn btn-link" %>
      </div>
    </div>
  </div>
  <% else %>
    <div class="col">
      <div class="row listing-box mx-auto p-2">    
        <div class="card mx-auto p-2" style: "width: 18rem;">
          <%= image_tag @listing.picture.url, class:"card-img-top" %>
        </div>
        <div class="col">
          <p class="h3">
          <%= @listing.name %>
          </p>
          <ul class="list-group mt-n1 ms-n1">
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              <%= @listing.description %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              <%= @listing.product_type %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              For Sale: <%= @listing.market_date.strftime("%B %-d, %Y") %>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              <%= "Sold by #{@lister.first_name} #{@lister.last_name}" %></p>
              </p>
            </li>
            <li class="list-group-item mt-n1 ms-n1">
              <p>Sold in <%= @listing.city %>, <%= @listing.state %></p>
            <li class="list-group-item mt-n1 ms-n1">
              <p>
              <%= number_to_currency(@listing.price) %>
              </p>
              <p><%= @listing.price_in_btc %> Sats<p>
            </li>
          <div id="map"></div>
          <%= link_to "Order", new_listing_order_path(@listing), class: "btn btn-primary" %>
          <% if (user_signed_in?) && (current_user.id == @listing.user_id) %>
            <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> | 
          <% end %>
          <%= link_to 'Back', listings_path, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if @listing.latitude.present? && @listing.longitude.present? %>
<script>
var map;
var service;
var infowindow;
function initMap() {
  var myLatLng = {lat: <%= @listing.latitude %>, lng: <%= @listing.longitude %>};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Fresh Product!'
  });
}
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA9G9Gltn94DJ97E3G6QyEn-kEWKh8swc&libraries=places&callback=initMap">
</script>
<% end %>