<div class="row">
  <div class="col">
    <h4><small class="text-muted"><%= @time.to_formatted_s(:long) %></small></h4>
  </div>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-warning"><%= link_to "Prism View", garden_path(:id => @garden) %></button>
    <button type="button" class="btn btn-warning"><%= link_to "Garden Info", gardentable_path(:id => @garden) %></button>
    <button type="button" class="btn btn-warning"><%= link_to "Grow Info", growtable_path(:id => @garden) %></button>
    <button type="button" class="btn btn-warning">Garden Work</button>
  </div>
</div>

<div class="container-fluid work-box">
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary button-box"><%= link_to "Irrigate Garden", garden_irrigate_path(:id => @garden) %></button>
      <button type="button" class="btn btn-primary button-box"><%= link_to "View Enrolled", enrollments_path(:garden_id => @garden) %></button>
      <button type="button" class="btn btn-primary button-box"><%= link_to "Manage Work", jobs_path(:garden_id => @garden) %></button>
      <button type="button" class="btn btn-primary button-box"><%= link_to "Accounting", accounting_index_path(:garden_id => @garden) %></button>
    </div>
  </div>
  <% @rows.each do |bed| %>
  <div class="row justify-content-center work-head-row">
    <p class="h2"><strong>Work Bed <%= bed.row_num + 1 %></strong></p>
  </div>
  <div class="row">
    <div class="col-sm work-box">
      <p class="h3 work-head">Cultivating</p>
      <p><%= link_to "Cultivate Bed", row_cultivate_path(:id => bed), class:"btn btn-primary" %></p> 
      <% unless bed.cultdate(bed).blank? %>
        <p>Last Cultivated: <%= bed.cultdate(bed).strftime("%B %d, %Y") %> <%= bed.cultdate(bed).strftime("%l:%M %p") %></p>
      <% end %>
      <button type="button" class="btn-success job-button"><%= link_to "Create Cultivate Job", new_job_path(:garden_id => current_garden, :job_name => "Cultivate") %></button>
      
    </div>
    <div class="col-sm work-box">
      <p class="h3 work-head">Feeding</p>
      <p><%= link_to "Feed Bed", row_feed_path(:id => bed), class:"btn btn-primary" %></p> 
      <% unless bed.feeddate(bed).blank? %>
        <p>Last Feeding: <%= bed.feeddate(bed).strftime("%B %d, %Y") %> <%= bed.feeddate(bed).strftime("%l:%M %p") %></p>
      <% end %>
      <button type="button" class="btn-success job-button"><%= link_to "Create Feed Job", new_job_path(:garden_id => current_garden, :job_name => "Feed") %></button>
      
      </p>
    </div>
    <div class="col-sm work-box">
      <p class="h3 work-head">Seeding / Planting</p>
      <%= link_to "Plant Bed", garden_path(:id => @garden), class:"btn btn-primary" %>
      <p>
        Number of Cubes: <%= @garden.length * 4 %><br />
      </p>      
      <p> 
        Number of Cubes Planted: <%= @cubes.where(:row_id => bed).count(:crop_name) %>        
      </p>
        <% unless @cubes.where(:row_id => bed).last.sow_time.blank? %>
      <p>
        Date Planted: <%= @cubes.where(:row_id => bed).last.sow_time.strftime("%B %d, %Y") %>        
      </p>
        <% end %>
      <p><button type="button" class="btn-success job-button"><%= link_to "Create Seed/Plant Job", new_job_path(:garden_id => current_garden, :job_name => "Seed/Plant") %></button></p>
    </div>
    <div class="col-sm work-box">
      <p class="h3 work-head">Weeding</p>
      <p><%= link_to "Weed Bed", row_weed_path(:id => bed), class:"btn btn-primary" %></p> 
      <% unless bed.weeddate(bed).blank? %>
        <p>Last Weeding: <%= bed.weeddate(bed).strftime("%B %d, %Y") %> <%= bed.weeddate(bed).strftime("%l:%M %p") %></p>
      <% end %>
      <p><button type="button" class="btn-success job-button"><%= link_to "Create Weed Job", new_job_path(:garden_id => current_garden, :job_name => "Weed") %></button></p>
    </div>
    <div class="col-sm work-box">
      <p class="h3 work-head">Watering</p>
      <p><%= link_to "Irrigate Bed", row_irrigate_path(:id => bed), class:"btn btn-primary" %></p> 
      <% unless bed.irrtime(bed).blank? %>
        <p>Last Irrigated: <%= bed.irrtime(bed).strftime("%B %d, %Y") %> <%= bed.irrtime(bed).strftime("%l:%M %p") %></p>
      <% end %>
      <p><button type="button" class="btn-success job-button"><%= link_to "Create Water Job", new_job_path(:garden_id => current_garden, :job_name => "Water") %></button></p>
    </div>
    <div class="col-sm work-box">
      <p class="h3 work-head">Harvesting</p>
      <p><%= link_to "Harvest Bed", row_harvest_path(:id => bed), class:"btn btn-primary" %></p> 
      <% unless bed.harvestdate(bed).blank? %>
        <p>Last Harvest: <%= bed.harvestdate(bed).strftime("%B %d, %Y") %> <%= bed.harvestdate(bed).strftime("%l:%M %p") %></p>
      <% end %>
      <p><button type="button" class="btn-success job-button"><%= link_to "Create Harvest Job", new_job_path(:garden_id => current_garden, :job_name => "Harvest") %></button></p>
      </p>
    </div>
  </div><br />
  <% end %>
</div>
