
<% if @listing.maxorder > 0 %>
<div class="container">
  <div class="col-md-6">
    <div class="row justify-content-center form-box">
      <span class="border border-white">      
      <div class="col">
        <div class="card" style: "width: 18rem;">
        <%= image_tag @listing.picture.url, class:"card-img-top" %><br />
          <div class="card-body">
            <h5 class="card-title"><%= @listing.name %><br /></h5>
            <p class="card-text">
            <%= @listing.description %><br />
            <%= @listing.product_type %><br />
            <p class="h5">Sold by <%= @farmer.first_name %> <%= @farmer.last_name %></p>            
            <p>Sold in <%= @listing.city %>, <%= @listing.state %></p>
            <p>Items remaining: <%= @listing.maxorder %></p>
            <p><%= number_to_currency(@listing.price) %></p>
            <p>
              <% if @listing.product_type == "FAT PC" %>
              <% if @listing.description != "Monitor" %>
                <p class="h5">Computer Base Price: <%= number_to_currency(@listing.price) %></p>
                <p><%= @listing.price_in_btc %> Sats</p>
                <p class="h5">Farm AgriTech IT (FAT IT)</p>
                <p>FAT IT Cost 1 Month: <%= number_to_currency(@listing.fatsupportcost1yr / 12) %></p>
                <p class="h5">
                Required Microsoft Licenses
                </p>
                <p>
                Enterprise Mobility + Security E3
                </p>
                <p>Monthly: $10.60</p>
                <p>
                Microsoft Defender for Endpoint P1
                </p>
                <p>Monthly: $3.00</p>
                <p class="h5">
                Optional Microsoft License
                </p>
                <p>
                Microsoft 365 Business Standard
                </p>
                <p>Monthly: $12.50</p>
              <% end %>
              <% end %>  
            </p>
            <%= link_to 'Back', @listing, class: "btn btn-link" %><br />
          </div>
        </div>
      </div>
      <% if signed_in? %>
        <%= form_with scope: :order, url: listing_orders_path, local: true do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.submit "Order", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>

    </span>
  </div>
</div>
<% else %>
<div class="container">
  <div class="col">
    <div class="row">
      <p class="display-3">The farmer has no items available to order on PlantForm. Please check back to see if more become available later.</p>
      <p class="h3">You may contact the farmer to see if they have some more at <%= @listing.telephone %>.</p>
    </div>
  </div>
</div>
<% end %>

