<p class="display-4 center">Your Sales History</p>
<div class="row">
  <div class="col">
    <h4><small class="text-muted"><%= @time.to_formatted_s(:long) %></small></h4>
  </div>
</div>
<div class="container-fluid">
  <table class="table table-hover">
    <thead class="thead-dark">
      <th class="center">Verify</th>
      <th class="center">Item</th>
      <th class="center">Price</th>
      <th class="center">Buyer Name</th>
      <th class="center">Buyer E-mail</th>
      <th class="center">Date Sold</th>
      <th class="center">Deliver Date and Time</th>
    </thead>
    <% @orders.each do |order| %>
    <tr>      
      <td class="center">
        <% if order.verified == true %>        
          <span class="badge badge-pill badge-success">Verified</span>
        <% else %>
          <%= form_with model: order, url: listing_order_path(order.listing_id, order), method: :patch, local: true do |f| %>
          <%= f.label "Check to Verify" %>
          <%= f.check_box "verified" %>
          <%= f.submit %>
          <% end %>
        <% end %>
      </td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center"><%= number_to_currency(order.listing.price) %></td>
      <td class="center"><%= order.buyer.first_name %> <%= order.buyer.last_name %></td>
      <td class="center"><%= order.buyer.email %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td class="center"><%= order.listing.market_date.strftime("%B %-d, %Y") %> at <%= order.listing.market_date.strftime("%l:%M %p") %></td>
    </tr>
    <% end %>
  </table>
</div>