<div class="container-fluid">
  <div class="container-md text-center work-box gardens-head">
    <p class="display-4 id="top"">Your Sales History</p>
  </div>
  <div class="row">
    <div class="col">
      <h4><small class="text-muted"><%= @time.to_formatted_s(:long) %></small></h4>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table table-hover">
      <thead class="thead-dark">
        <th class="center">Verify</th>
        <th class="center">Item</th>
        <th class="center">Price</th>
        <th class="center">Buyer Name</th>
        <th class="center">Buyer E-mail</th>
        <th class="center">Date on Sale</th>
        <th class="center">Shipping Address</th>
      </thead>
      <% @orders.each do |order| %>
      <tr>      
        <td class="center">
          <% if order.verified == true %>        
            <span class="badge badge-pill badge-success">Verified</span>
          <% else %>
          <%= form_with model: order, url: listing_order_path(order.listing_id, order), method: :patch, local: true do |f| %>
            <%= f.label "Check to Verify" %>
            <%= f.check_box "verified" %>
            <%= f.submit %>
          <% end %> 
          <% end %>
        </td>
        <td class="center"><%= order.listing.name %></td>
        <td class="center">
          <p><%= number_to_currency(order.listing.price) %></p>
          <p><%= order.listing.price_in_btc %> Sats</p>
        </td>
        
        <td class="center"><%= order.buyer.first_name %> <%= order.buyer.last_name %></td>
        <td class="center"><%= order.buyer.email %></td>
        <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
        <td class="center">
          <%= form_with model: order, url: listing_order_path(order.listing_id, order), method: :patch, local: true do |f| %>
            <%= f.fields_for :shipping_address do |address_form| %>
              <%= f.label :address %>
              <%= f.text_field :street, class: "form-control" %>
              <%= f.label :city %>
              <%= f.text_field :city, class: "form-control" %>
              <%= f.label :state %>
              <%= f.text_field :state, class: "form-control" %>
              <%= f.label :zip %>
              <%= f.text_field :zip, class: "form-control" %>
              <%= f.label :county %>
              <%= f.text_field :county, class: "form-control" %>
            <% end %>
            <%= f.submit "Ship", class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>