<div class="container">
      <%= image_tag "FAT-Logo-Web.jpg", class:"rounded mx-auto img-fluid work-box" %>
  <div class="row justify-content-center align-items-center">
    <div class="col form-box">
      <p class="text-center">
        <p class="h5"><strong>Farm Computing Service and Support</strong></p>
        <p><strong>My name is Donny Buckman. Farm AgriTech is an online marketplace for computers and farm IT services and for certain categories 
        of farm and plant products. The categories of plants that you can list on Farm AgriTech are 
        tools, supplies, vegetables, herbs, fruit, house plants, indoor plants, and trees. 
        My expectation is that those of you who go to farmers’ markets will see a huge benefit using Farm AgriTech to source and plan for the market. 
        Additional users might be Community Funded Agriculture (CFA), food banks, and anyone who produces more than they can consume and wants to enter the local market.
        </strong>
        </p>
      </p>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col form-box">
      <p class="text-center">
        <p class="h5"><strong>Our Mission and Short List of Supported Farm Applications</strong></p>
        <p class="h4"><strong>Leaders in Regenerative Farming Products and Services</strong></p>
        <p><strong><a><%= link_to "Advancing Eco Agriculture", src="https://www.advancingecoag.com/" %></a></strong> - Advancing Eco Agriculture | Regenerative Agriculture</p>
        <p class="h4"><strong>Academic Leaders in Regenerative Farming</strong></p>
        <p><strong><a><%= link_to "Rodale Institute", src="https://rodaleinstitute.org/" %></a></strong> - Rodale Institute | Organic Pioneers</p>
        <p><strong><a><%= link_to "California State University Chico", src="https://www.csuchico.edu/regenerativeagriculture/" %></a></strong> - Regenerative Agriculture Initiative | California State University, Chico</p>
        <p class="h4"><strong>Farm Management Software</strong></p>
        <p><strong><a><%= link_to "Farmbright", src="https://www.farmbrite.com/" %></a></strong> - Farm Management Software for your whole farm</p>
        <p><strong><a><%= link_to "Traction", src="https://www.tractionag.com/" %></a></strong> - Farm Management Software | Accounting & Payroll</p>
        <p><strong><a><%= link_to "Climate FieldView", src="https://climate.com/" %></a></strong> - Digital Farming decisions and insights to maximize every acre</p>
        <p><strong><a><%= link_to "John Deer Operations Center", src="https://www.deere.com/en/technology-products/precision-ag-technology/operations-center/" %></a></strong> - Farm Management Software | John Deere US</p>
        <p><strong><a><%= link_to "AGRIVI", src="https://www.agrivi.com/" %></a></strong> - AGRIVI: Farm Management Software for Digital Agriculture</p>
        <p><strong><a><%= link_to "Conservis", src="https://www.conserviscorp.com/" %></a></strong> - Conservics Farm Business Management Software | Farming & Agriculture Apps</p>
        <p><strong><a><%= link_to "MyCrops", src="https://www.mycrops.ag/" %></a></strong> - MyCrops - Farm Management Software simplified</p>
        <p><strong><a><%= link_to "Produce Pro Software", src="https://www.producepro.com/" %></a></strong> - ERP Software for Produce & Perishables</p>
        <p><strong><a><%= link_to "Greenstone Agris Software", src="https://greenstonesystems.com/agris/" %></a></strong> - AGRIS | Grain Accounting Software - Greenstone Systems</p>
        <p><strong><a><%= link_to "FarmersEdge", src="https://www.farmersedge.ca/" %></a></strong> - Farmers Edge: Digital Agriculture | Farming Software</p>
        <p><strong><a><%= link_to "Corteva Agriscience", src="https://www.corteva.com/" %></a></strong> - Corteva Agriscience | Agriculture & Farming Solutions</p>
        <p><strong><a><%= link_to "EOS Data Analytics", src="https://eos.com/" %></a></strong> - EOS Data Analytics | Satellite Imagery Analytics</p>
        <p><strong><a><%= link_to "Local Food Marketplace", src="https://www.localfoodmarketplace.com/" %></a></strong> - Local Food Marketplace | Online Farmers Market Software</p>
      </p>
    </div>
  </div>
</div>
