<div class="row">
  <div class="col">
    <h4><small class="text-muted"><%= @time.to_formatted_s(:long) %></small></h4>
  </div>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-warning"><%= link_to "Prism View", garden_path(:id => @garden) %></button>
    <button type="button" class="btn btn-warning"><%= link_to "Garden Info", gardentable_path(:id => @garden) %></button>
    <button type="button" class="btn btn-warning"><%= link_to "Grow Info", growtable_path(:id => @garden) %></button>
    <button type="button" class="btn btn-warning"><%= link_to "Garden Work", worktable_path(:garden_id => @garden) %></button>
  </div>
</div>
<div class="container-fluid account-box">
  <div class="row">
    <div class="col">
    <p class="display-4 center"><%= @garden.title %></p>
    <% @enrolls.each do |e| %>
    <% @gardener = User.find_by_id(e.user_id) %>
    <table class="table">
    <p class="display-4 center"><%= @gardener.first_name %> <%= @gardener.last_name %></p>
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="h3">Gardener</th>          
          <th scope="col" class="h3">Job</th>
          <th scope="col" class="h3">Start Time</th>
          <th scope="col" class="h3">Finish Time</th>
          <th scope="col" class="h3">Time Spent</th>
        </tr>
      </thead>
      <tbody>      
      <% @lineitems = Accounting.where(:gardener_id => e.user_id) %>
        <% @lineitems.each do |item| %>
          <% @gardener = User.find_by_id(item.gardener_id) %>
          <% @job = Job.find_by_id(item.job) %>
          <tr>
            <td><%= @gardener.first_name %> <%= @gardener.last_name %></td>
            <td><%= @job.name %></td>
            <td><%= @job.start_time %></td>
            <td><%= @job.finish_time %></td>
            <td><%= item.time_spent(item.start_time, item.finish_time) %> hours</td>
          </tr>
        <% end %>          
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <% @timesum = Accounting.time_sum(e, @garden) %>
              Total Time: <%= @timesum %>
            </td>
            <td> 
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>