<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="footer">
        <div class="row justify-content-between">          
          <div class="col-4">
            <p class="lead">Farm AgriTech &#169;2023</p>
            <p class="lead foot-link"><%= link_to 'About', pages_about_path %></p>            
            <p class="lead foot-link"><%= link_to 'Contact', pages_contact_path %></p> 
            <p class="lead foot-link"><%= link_to "Terms and Conditions", pages_terms_path %></p>
            <p class="lead foot-link"><%= link_to "Privacy Notice", pages_privacy_path %></p>
          </div>
          <div class="col-4">            
            <p><b class="lead">Gardeners</b></p>
            <p class="lead foot-link"><%= link_to 'Make Garden', new_garden_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
