<div class="container-fluid">
  <div id="footer">
    <div class="row row-cols-3">          
      <div class="col mt-2">
        <p class="lead">Farm AgriTech &#169;2023</p>
        <p class="lead foot-link"><%= link_to 'About', pages_about_path %></p>            
        <p class="lead foot-link"><%= link_to 'Contact', pages_contact_path %></p> 
        <p class="lead foot-link"><%= link_to "Terms and Conditions", pages_terms_path %></p>
        <p class="lead foot-link"><%= link_to "Privacy Notice", pages_privacy_path %></p>

      </div>
      <div class="col mt-2">
          <%= image_tag "PNE-Logo.png", class:"rounded img-fluid pne-box px-3" %>
      </div>

      <div class="col-md-2 offset-md-2">            
        <p><b class="lead">Gardeners</b></p>
        <p class="lead foot-link"><%= link_to 'Make Garden', new_garden_path %></p>
        <p class="lead foot-link"><%= link_to 'FAT LSP', pages_fatlsp_path %></p>
      </div>
    </div>
  </div>
</div>
