<!DOCTYPE html>
<html>
  <head>
    <title>Farm AgriTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Farm AgriTech provides technical support and products for farmers. If you need new computers and IT support for your 
    farm Farm AgriTech will help. Home or office delivery and personal onboarding your new computer and IT services. A new focus of Farm AgriTech
    is onboarding farmers, market gardeners, and community guardens to the Bitcoin network. Farm AgriTech can help insall and configure
    Bitcoin nodes, including Bitcoin and Lightning wallets. We sell computers and support plans.
    Farm AgriTech PlantForm Software is a free application for managing, working,
    and distributing house plants, outdoor plants, and primarily regenerative agriculture products.
    The application is designed to function at the local level with products from home and community gardens.">
    <meta name="keywords" content="Computers, PCs, Laptops, IT services and support, cloud computing, Farm, Agritech, Regenerative, Agriculture,Private, Garden,Organic, 
    Tools, Supplies, Produce, Local, Agriculture, Sales, Purchases, Delivery">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/99fee2e8fb.js"></script>
    
    <%= favicon_link_tag asset_path('71890588.jpeg') %>
  </head>
  <body>
    <div class= "container-fluid">
      <%= render 'layouts/header' %>  
    </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    <div class="container-fluid">
      <%= render 'layouts/footer' %>
    </div>
    <!== Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1682665379"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-16826653579');
    </script>
  </body>
</html>
